<mat-card>

    <button mat-raised-button color="primary" style="float: right; margin-bottom: 50px;" (click)="showCreateForm()">Crear libros</button>
    <h2>Lista de libros</h2>

    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">
      
          <!-- Position Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> Numero </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
          </ng-container>
      
          <!-- Name Column -->
          <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef> Titulo </th>
            <td mat-cell *matCellDef="let element"> {{element.title}} </td>
          </ng-container>
      
          <!-- Weight Column -->
          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef> Descripcion </th>
            <td mat-cell *matCellDef="let element"> {{element.description.substring(0, 50)}} </td>
          </ng-container>
      
          <!-- Symbol Column -->
          <ng-container matColumnDef="pageCount">
            <th mat-header-cell *matHeaderCellDef> Cantidad de paginas </th>
            <td mat-cell *matCellDef="let element"> {{element.pageCount}} </td>
          </ng-container>

          <ng-container matColumnDef="excerpt">
            <th mat-header-cell *matHeaderCellDef> Extracto </th>
            <td mat-cell *matCellDef="let element"> {{element.excerpt.substring(0, 50)}} </td>
          </ng-container>

          <ng-container matColumnDef="publishDate">
            <th mat-header-cell *matHeaderCellDef> Fecha publicacion </th>
            <td mat-cell *matCellDef="let element"> {{element.publishDate | date}} </td>
          </ng-container>

          <ng-container matColumnDef="Acciones">
            <th mat-header-cell *matHeaderCellDef> Acctiones </th>
            <td mat-cell *matCellDef="let element"> 
              <button mat-raised-button color="accent" style="margin-right: 10px;" (click)="showDetail(element)">Detalle</button>
              <button mat-raised-button color="primary" style="margin-right: 10px;" (click)="showCreateForm(element)">Editar</button>
              <button mat-raised-button color="warn" (click)="deleteBook(element)">Eliminar</button>
            </td>
          </ng-container>
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      
        <mat-paginator
                      [length]="(this.books$ | async)?.length"
                       [pageSizeOptions]="[5, 10, 20]"
                       showFirstLastButtons
                       aria-label="Select page of periodic elements">
        </mat-paginator>
      </div>
      
</mat-card>
